.project-card-container {
  width: 340px;
  margin: 0 auto;
}

.project-card {
  border: none;
  border-radius: 10px;
  width: 340px;
  margin: 15px auto;
  margin-top: 40px;
  height: 345px;
  box-shadow: 4px 4px 5px 1px rgba(113, 127, 147, 0.598);
  -webkit-box-shadow: 4px 4px 5px 1px rgba(113, 127, 147, 0.598);
  -moz-box-shadow: 4px 4px 5px 1px rgba(113, 127, 147, 0.598);
}

.project-card:hover {
  box-shadow: 2px 2px 2px 2px rgba(73, 84, 100, 0.673);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(73, 84, 100, 0.673);
  -moz-box-shadow: 0px 0px 0px 0px rgba(73, 84, 100, 0.673);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.project-name {
  /* width: 90vw; */
  margin-bottom: 15px;
}

#colored-p {
  color: #9ec3c6;
  margin: 0px;
}

.card-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  color: rgb(121, 121, 121);
  margin: 0px;
  padding-right: 10px;
  font-size: 1.2rem;
}

.edit-icons {
  font-size: 1rem;
}

.like-icons {
  position: relative;
}

.card-icons i {
  margin-right: 10px;
}

.liked-heart {
  color: rgb(223, 0, 0);
}

.likes-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#small-p {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 0px;
}

.like-comment-calculator {
  font-size: 0.8rem;
  width: 350px;
}

#mini-img-container {
  width: 10px;
}

#mini-img {
  width: 18px;
  height: 18px;
  object-fit: cover;
  border-radius: 100%;
}

.comment-line {
  margin-bottom: 0px;
}

.likedBy-line {
  display: flex;
  margin-top: 0px;
}

.likedBy-line p {
  margin-right: 0px;
  margin-left: 5px;
}

.likedBy-line-written {
  margin-left: 7px;
  display: flex;
  margin-top: 2px;
  height: 20px;
}

.back {
  background-color: #9fc2c648;
}

.link-icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-left: 10px;
  width: 50px;
}

.fa-github {
  font-size: 30px;
  color: grey;
  margin-bottom: 20px;
}

.fa-github:hover {
  color: white;
}

.fa-globe:hover {
  color: white;
}

.fa-globe {
  font-size: 30px;
  color: grey;
}

.back {
  display: flex;
  align-items: center;
}

.description {
  /* border-left: 1px solid black; */
  font-size: 0.9rem;
  height: 270px;
  padding: 10px;
  display: flex;
  width: 300px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  color: grey;
  overflow-y: scroll;
}

.comment-section {
  width: 340px;
  margin: 0 auto;
}

.comment-input {
  width: 340px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .project-card {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .project-card-container {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}
