.user-card {
  height: 60px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
}

.link {
  text-decoration: none;
}

.user-card img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.user-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-card p {
  height: 5px;
}

.name-info {
  color: black;
}

.occupation-info {
  font-size: 0.7rem;
  color: grey;
}
