.comment {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.comment-left {
  display: flex;
}

.comment img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: 4px;
}

.comment-center p {
  font-size: 0.65rem;
}

.delete-x {
  margin-right: 10px;
  font-size: 0.8rem;
}
