#user-in-chat {
  display: flex;
}

#user-in-chat img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.new-message-alert {
  margin-left: 90px;
  background-color: red;
}
