.search-container {
  width: 95vw;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  padding: 0px 8px;
  border-radius: 8px;
  margin: 10px auto;
}

.search-bar {
  width: 95%;
  margin: 0 auto;
  height: 30px;
  border: none;
  background-color: #e8e8e8;
}

#search {
  background-color: #e8e8e8;
  border: none;
  border-radius: 3px;
  width: 98%;
  display: flex;
  align-items: center;
}

.fa-search {
  margin-right: 5px;
  font-size: 1rem;
}

.search-icon {
  color: #888888;
}

@media (min-width: 768px) {
  .search-container {
    width: 70vw;
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .search-container {
    width: 50vw;
  }
}
