.navbar {
  background-color: #9ec3c6 !important;
  display: flex;
  align-items: center;
}

.fa-comment-dots {
  font-size: 27px;
  color: white;
  position: relative;
  z-index: 1;
}

.notification-num {
  background-color: red;
  border-radius: 100%;
  text-align: center;
  font-size: 0.8rem;
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 18px;
  left: 18px;
  margin: 0px;
  z-index: 2;
}

#chat-notification-icon {
  position: relative;
}
