.App {
  margin: 0;
}

/**************************** landing page ******************************/

#landing-page {
  background-image: url("./images/simone-hutsch-GnHUOyPV0WI-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#landing-page p {
  color: white;
  letter-spacing: 1px;
  padding: 50px;
  text-align: center;
}

#landing-page div {
  display: flex;
  justify-content: center;
}

.landing-btn {
  margin: 0px 10px;
  width: 140px;
  border: none;
  height: 60px;
  border-radius: 3px;
  letter-spacing: 1px;
}

.landing-btn:hover {
  background-color: orange;
}

/****************************** home page *****************************/

#homepage {
  text-align: center;
}

#homepage h3 {
  font-size: 1.3rem;
  margin-top: 20px;
}

#homepage p {
  font-size: 0.9rem;
  margin: 20px;
}

#laptop-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

/****************************** user profile / private*****************************/

.user-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 15px;
}

.user-details {
  /* display: flex; */
  height: 170px;
  width: 90vw;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.edit-user {
  display: flex;
  align-items: flex-start;
}

#welcome-message {
  text-align: center;
  letter-spacing: 1px;
  color: #9ec3c6;
}

#add-project {
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

#add-project > button {
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  padding: 10px;
}

.private-user-details {
  display: flex;
  height: 120px;
}

.followers-following {
  display: flex;
  width: 150px;
  justify-content: space-between;
  font-size: 0.9rem;
}

.edit-user > i {
  font-size: 0.7rem;
  margin-left: 5px;
}

/* .user-details-bottom {
  display: flex;
} */

.user-details-bottom > div {
  display: flex;
  align-items: center;
}

.fa-envelope {
  font-size: 20px;
  margin-right: 10px;
}

.top-left {
  display: flex;
}

.user-details h2 {
  font-size: 1.4rem;
}

.user-details h4 {
  font-size: 1rem;
}

.follow-button {
  border: 2px solid white;
  margin: 10px;
  font-size: 0.8rem;
  width: 80px;
}

.edit-user-image > i {
  cursor: pointer;
  position: relative;
  right: 35px;
  top: 25px;
  font-size: 0.9rem;
  border: 3px solid white;
  border-radius: 100%;
  background-color: white;
}

.image-upload-form {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.image-upload {
  font-size: 0.7rem;
  width: 200px;
  position: absolute;
  top: 170px;
  left: 31px;
}

#loading-message {
  position: absolute;
  top: 130px;
  left: 50px;
  font-size: 1rem;
  background-color: white;
}

.image-upload-form button {
  position: absolute;
  top: 170px;
  left: 10px;
  font-size: 0.5rem;
}

#notification-message {
  color: rgb(227, 0, 0);
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 40px;
}

#black-comment-dots {
  color: rgb(227, 0, 0);
  font-size: 1.2rem;
  margin-right: 10px;
}

#no-new-message {
  color: grey;
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 40px;
  cursor: pointer;
}

#no-new-message #black-comment-dots {
  color: grey;
  font-size: 1rem;
}

/****************************** Chat /Conversation *****************************/

#empty-chat {
  font-size: 0.8rem;
  text-align: center;
  margin: 200px 20px;
}

.send-message-form {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 5;
}

.conversation {
  margin: 70px 20px 50px 20px;
}

#chat-navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
}

.chat-info-bar {
  position: fixed;
  width: 100vw;
  z-index: 7;
  background-color: white;
  top: 55px;
}

.send-message-form input {
  width: 100%;
  border: 1px solid #e8e8e8;
  height: 35px;
  outline: none;
  font-size: 0.9rem;
}

.send-button {
  position: absolute;
  right: 0px;
  border: 1px solid #e8e8e8;
  height: 35px;
  outline: none;
}

.fa-angle-left {
  font-size: 30px;
  color: #d2d2d2;
  margin-right: 10px;
}

.chat-info {
  display: flex;
  align-content: center;
  padding: 10px;
  height: 30px;
}

.chat-user-img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.message {
  padding: 8px;
  border-radius: 20px;
}

.left-red {
  border: 1px solid #b0b0b0;
  margin-right: 40vw;
}

.right-blue {
  background-color: #e8e8e8;
  margin-left: 40vw;
}

#bottom-of-scroll {
  height: 10px;
}

.seen {
  color: #b0b0b0;
  font-size: 0.8rem;
  margin-left: 80vw;
}

.user-in-chat {
  color: black;
}

#chatlist-scroll-bar {
  max-height: 90vh;
  overflow-x: scroll;
}

#conversation-page {
  width: 100vw;
  overflow: hidden;
}
