.App {
  margin: 0;
}

* {
  outline: none;
}

/**************************** landing page ******************************/

#landing-page {
  background-image: url("./images/simone-hutsch-GnHUOyPV0WI-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#landing-page p {
  color: white;
  letter-spacing: 1px;
  padding: 50px;
  text-align: center;
}

#landing-page div {
  display: flex;
  justify-content: center;
}

.landing-btn {
  margin: 0px 10px;
  width: 140px;
  border: none;
  height: 60px;
  border-radius: 3px;
  letter-spacing: 1px;
}

/****************************** home page *****************************/

#search-error {
  text-align: center;
  margin-top: 150px;
  color: #728f91;
  font-size: 0.9rem;
}

#homepage {
  text-align: center;
}

#first-p {
  padding-top: 15px;
}

#homepage h3 {
  font-size: 1.3rem;
  margin-top: 20px;
  color: rgb(97, 97, 97);
  letter-spacing: 1px;
}

#homepage p {
  font-size: 0.9rem;
  margin: 10px 20px 20px 20px;
  color: rgb(97, 97, 97);
}

#laptop-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

#home-page-content {
  min-height: 550px;
}

/****************************** user profile / private*****************************/

.user-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 15px;
}

.page-content {
  min-height: 500px;
}

/* .fa-comment-alt {
  font-size: 5rem;
  color: white;
  background-color: white;
  font-weight: 100;
  position: absolute;
  top: 110px;
  left: 180px;
}

.fa-comment-alt > p {
  font-size: 0.8rem;
  position: relative;
  bottom: 50px;
} */

.user-details {
  /* display: flex; */
  height: 170px;
  width: 90vw;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.edit-user {
  display: flex;
  align-items: flex-start;
}

#welcome-message {
  text-align: center;
  letter-spacing: 1px;
  color: #9ec3c6;
}

#add-project {
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

#add-project > button {
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #9ec3c6;
  color: white;
}

.private-user-details {
  display: flex;
  height: 120px;
}

.followers-following {
  display: flex;
  width: 150px;
  justify-content: space-between;
  font-size: 0.9rem;
}

.edit-user > i {
  font-size: 0.7rem;
  margin-left: 5px;
  color: grey;
}

.edit-input {
  width: 150px;
}

.edit-input-button {
  border: none;
  outline: none;
  font-size: 0.7rem;
}

/* .user-details-bottom {
  display: flex;
} */

.user-details-bottom > div {
  display: flex;
  align-items: center;
}

.fa-envelope {
  font-size: 20px;
  margin-right: 10px;
}

.top-left {
  display: flex;
}

.user-details h2 {
  font-size: 1.2rem;
}

.user-details h4 {
  font-size: 1rem;
}

.edit-input {
  border: none;
  border-radius: none;
  border-bottom: 1px solid grey;
  background-color: #f0f0f0;
  outline: none;
}

.follow-button {
  border: 2px solid white;
  margin: 10px 10px 0px 10px;
  font-size: 0.8rem;
  width: 80px;
  outline: none;
}

.follow-button:focus {
  outline: none;
}

.edit-user-image > img {
  margin-right: 0px;
}

.edit-user-image > i {
  cursor: pointer;
  position: relative;
  right: 23px;
  top: 25px;
  font-size: 0.9rem;
  border: 3px solid white;
  border-radius: 100%;
  background-color: white;
  color: rgb(71, 120, 213);
}

.image-upload-form {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.image-upload {
  font-size: 0.7rem;
  width: 165px;
  position: absolute;
  top: 170px;
  left: 31px;
}

#loading-message {
  font-size: 0.8rem;
  background-color: #f0f0f0;

  margin-top: 5px;
  text-align: center;
}

.image-upload-form button {
  position: relative;
  top: 2px;
  left: 160px;
  font-size: 0.8rem;
  border: none;
  width: 20px;
  color: rgb(71, 120, 213);
  width: 50px;
}

#notification-message {
  color: rgb(227, 0, 0);
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 40px;
}

#black-comment-dots {
  color: rgb(227, 0, 0);
  font-size: 1.2rem;
  margin-right: 10px;
}

#no-new-message {
  color: grey;
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 40px;
  cursor: pointer;
}

#no-new-message #black-comment-dots {
  color: grey;
  font-size: 1rem;
}

.email-show {
  text-align: center;
  font-size: 0.8rem;
  color: #787878;
  padding: 5px;
}

/****************************** Chat /Conversation *****************************/

#empty-chat {
  font-size: 0.8rem;
  text-align: center;
  margin: 200px 20px;
  color: grey;
}

#empty-chat > .link {
  color: rgb(67, 118, 211);
}

.send-message-form {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 5;
}

.conversation {
  margin: 120px 20px 50px 20px;
}

#chat-navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
}

.chat-info-bar {
  position: fixed;
  width: 100vw;
  z-index: 7;
  background-color: white;
  top: 55px;
}

.send-message-form input {
  width: 100%;
  border: 1px solid #e8e8e8;
  height: 35px;
  outline: none;
  font-size: 0.9rem;
  padding-left: 10px;
}

.send-button {
  position: absolute;
  right: 0px;
  border: 1px solid #e8e8e8;
  height: 35px;
}

.send-button:focus {
  outline: none;
}

.fa-angle-left {
  font-size: 30px;
  color: #d2d2d2;
  margin-right: 10px;
}

.chat-info {
  display: flex;
  align-content: center;
  padding: 10px;
  height: 30px;
}

.chat-user-img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.message {
  padding: 8px;
  border-radius: 20px;
}

.left-red {
  border: 1px solid #b0b0b0;
  margin-right: 40vw;
}

.right-blue {
  background-color: #e8e8e8;
  margin-left: 40vw;
}

#bottom-of-scroll {
  height: 10px;
}

.seen {
  color: #b0b0b0;
  font-size: 0.8rem;
  margin-left: 80vw;
}

.user-in-chat {
  color: black;
}

#chatlist-scroll-bar {
  max-height: 90vh;
  overflow-x: scroll;
}

#conversation-page {
  width: 100vw;
  overflow: hidden;
}

/********************SIGNUP /LOGIN**************************/

#login-page {
  min-height: 500px;
}

#signup-button {
  background-color: #9ec3c6;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.signup-heading {
  text-align: center;
  margin: 30px;
  color: rgb(94, 94, 94);
  font-size: 1.3rem;
  letter-spacing: 1px;
}

#signup-image-upload {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.228);
  border: none;
  height: 200px;
  font-size: 0.8rem;
  padding-left: 10px;
}

#signup-image-upload img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

#signup-image-upload input {
  text-align: center;
  width: 200px;
  margin: 20px;
  font-size: 0.9rem;
}

#loading-message-signup {
  text-align: center;
  width: 200px;
  margin: 20px;
  font-size: 0.9rem;
}

/**************************TABLET***************************/

@media (min-width: 768px) {
  /***********LANDING PAGE************/
  #landing-page {
    padding-top: 100px;
  }

  #landing-page > p {
    margin: 0px 80px;
    font-size: 1.3rem;
  }

  #landing-page button {
    font-size: 1.1rem;
  }

  /***********HOME PAGE************/

  #home-page-content {
    width: 70vw;
    margin: 0 auto;
    min-height: 750px;
  }

  /***********PRIVATE/ USERPROFILE************/
  #projects-scroll-bar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: 500px; */
  }

  .top-left {
    align-content: baseline;
  }

  .private-user-details {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .private-user-details .edit-user-image {
    margin-bottom: 20px;
  }

  .page-content {
    min-height: 550px;
    width: 90vw;
    margin: 0 auto;
  }

  .image-upload-form {
    width: 100px;
  }

  .image-upload-form img {
    height: 80px;
    width: 80px;
    margin-top: 200px;
    margin-right: 20px;
  }

  .image-upload {
    position: static;
  }

  .image-upload-form button {
    position: static;
    z-index: 1;
  }

  .image-upload-form div {
    display: flex;
    width: 300px;
  }

  /***********CHAT************/

  #chat-searchbar {
    width: 58vw;
    margin: 0px auto;
  }

  #chat-list {
    background-color: #e8e8e8;
    height: 100vh;
  }

  #chatlist-scroll-bar {
    width: 60vw;
    margin: 0 auto;
    background-color: white;
    height: 100vh;
  }

  /***********CONVERSATION************/

  .send-message-form input {
    border-left: none;
  }

  #conversation-container {
    width: 650px;
    margin: 0px auto;
    min-height: 730px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin-bottom: 0px;
  }

  .conversation {
    width: 650px;
    margin-top: 0px;
    padding-top: 150px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }

  .conversation > div {
    width: 90%;
    margin: 0 auto;
  }

  .chat-info-bar {
    width: 649px;
    border-right: 1px solid #e8e8e8;
    margin: 0 auto;
  }

  .send-message-form {
    width: 649px;
    margin: 0 auto;
    margin-top: 0px;
  }

  .message-container {
    width: 300px;
  }

  .right-blue {
    width: 300px;
    margin-left: 245px;
    margin-right: 0px;
  }

  .left-red {
    width: 300px;
    margin-left: 0px;
  }

  .seen {
    margin-left: 500px;
  }

  /***********************LOGIN/SIGNUP**********************/

  #login-page {
    width: 60vw;
    margin: 0px auto;
    min-height: 550px;
    padding-top: 100px;
  }

  #signup-page {
    width: 60vw;
    margin: 0px auto;
    min-height: 550px;
  }
}

/**************************DESKTOP*****************************/

@media (min-width: 1024px) {
  /********************HOME************************/

  .landing-btn:hover {
    background-color: rgb(66, 108, 187);
    color: white;
  }

  #home-page-content {
    width: 50vw;
  }

  /***********PRIVATE/ USER PROFILE************/

  .user-details {
    width: 600px;
  }

  .page-content {
    margin: 0 auto;
    min-height: 800px;
  }

  #projects-scroll-bar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 30px;
    overflow-x: scroll;
  }

  /***********CHAT************/

  #chat-searchbar {
    width: 48vw;
    margin: 0px auto;
  }

  #chatlist-scroll-bar {
    width: 50vw;
  }

  /***********CONVERSATION************/

  #conversation-container {
    width: 650px;
    margin: 0px auto;
    min-height: 760px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin-bottom: 0px;
  }

  .conversation {
    width: 650px;
    margin-top: 0px;
    padding-top: 150px;
    margin-bottom: 0px;
    padding-bottom: 70px;
  }

  .conversation > div {
    width: 90%;
    margin: 0 auto;
  }

  .chat-info-bar {
    width: 649px;
    border-right: 1px solid #e8e8e8;
    margin: 0 auto;
  }

  .send-message-form {
    width: 649px;
    margin: 0 auto;
    margin-top: 0px;
  }

  .message-container {
    width: 300px;
  }

  .right-blue {
    width: 300px;
    margin-left: 250px;
    margin-right: 0px;
  }

  .left-red {
    width: 300px;
    margin-left: 20px;
  }

  .seen {
    margin-left: 500px;
  }

  #login-page {
    height: 650px;
  }
}
