.App {
  margin: 0;
}

/**************************** landing page ******************************/

#landing-page {
  background-image: url("./images/simone-hutsch-GnHUOyPV0WI-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#landing-page p {
  color: white;
  letter-spacing: 1px;
  padding: 50px;
  text-align: center;
}

#landing-page div {
  display: flex;
  justify-content: center;
}

.landing-btn {
  margin: 0px 10px;
  width: 140px;
  border: none;
  height: 60px;
  border-radius: 3px;
  letter-spacing: 1px;
}

.landing-btn:hover {
  background-color: orange;
}

/****************************** home page *****************************/

#homepage {
  text-align: center;
}

#homepage h3 {
  font-size: 1.3rem;
  margin-top: 20px;
}

#homepage p {
  font-size: 0.9rem;
  margin: 20px;
}

#laptop-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

/****************************** user profile *****************************/

.user-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.user-details {
  /* display: flex; */
  height: 200px;
  width: 90vw;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  background-color: #fcf8ec;
}

.followers-following {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

/* .user-details-bottom {
  display: flex;
} */

.user-details-bottom > div {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.fa-envelope {
  font-size: 20px;
  border: 1px solid black;
}

.top-left {
  display: flex;
}
